<section class="bg-dark" id="recorrido">
	
	<div class="container-fluid">
		<div class="row text-center">
			<h2>El Recorrido</h2>
		</div>
		<!-- End Container-->
	</div>

	<div class="container">
		<div class="row">
			<h3>Lorem ipsum dolor amet </h3>
			<div class="col-md-6">
				<p>
					El paseo se inicia en el Puerto local, hacia las Tres Fronteras, donde el rio Iguazú desemboca en el inmenso río Paraná. Allí permanecemos en un giro largo de 360° para visualizar los Hitos de los tres país: Argentina, Brasil y Paraguay. Navegamos unos kilómetros el río Paraná para luego ingresar nuevamente al rio Iguazú aguas arriba, pasando por debajo del Puente internacional Tancredo Neves y continuar navegando la ribera de la Selva Iryapu hasta alcanzar la altura del Santuario, extremo Este del paseo y límite navegable del rio donde comienza el Parque Nacional Iguazú, a unos 12 km de las Cataratas. Una Guía bilingüe desarrolla durante el viaje los detalles y características de la zona. Desde ese punto se emprende el regreso aguas abajo, con show musical en vivo y un inigualable paisaje de selva y rio.
				</p>
			</div>

			<div class="col-md-6">
				<img src="../img/catamaran/1.jpg" class="img-fluid" alt="Mapa del recorrido">
		  	</div>

		</div> <!-- End Row -->
	</div><!-- End Container-->
</section>